*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

nav, ul{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

body{
    background-color: #f0f0f5;
}

.container{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f5;
}

.left{
    
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}


.logo img{
    width: 250px;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

form h2{
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 15px;
    color: #13131a;
}

form input{
    width: 351px;
    height: 60px;
    background: #FFFFFF;
    border: 1.5px solid #DCDCE6;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    padding-left: 10px;
}

form button{
    margin-top: 10px;
    width: 351px;
    height: 60px;
    background: #E02041;
    border: 1.5px solid #DCDCE6;
    box-sizing: border-box;
    border-radius: 8px;
    color: #fff;
    outline: none;
    transition: all 0.2s;
}

form button:hover{
    background: #e90f34;
}

.cadastro a{ 
    display: flex;
    margin-left: 5px;
    color: #13131a;
}

p{
    margin-left: 5px;
    width: 165px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.right{
    position: relative;
    width: 500px;
    margin-right: 65px;
}

.right img{
    margin-top: 70px;
    width: 500px;
}

.right .img1{
    position: absolute;
    top: -280px;
    z-index: 1;
}

.right .img2{
    position: absolute;
    top: -300px;
    z-index: 4;
}

.right .img3{
    position: absolute;
    top: -70px;
    z-index: 0;
}

